﻿@model meyzel.Models.Mekanlar
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Details";
    var yorumlar = ViewBag.yorumlar;
    meyzel.Models.Yorumlar yorums = new meyzel.Models.Yorumlar();

    yorums.KullaniciAdi = User.Identity.GetUserName();
    yorums.MekanID = Model.mekanID;
   
}

<div class="container">
    <div class="row">
        <h2>@Model.mekanAdi <i class="badge">@Model.mekanRaiting</i></h2>
        <p><i class="glyphicon glyphicon-check"></i> @Model.mekanAciklama</p>
        <p><i class="glyphicon glyphicon-globe"></i> @Model.UlkeAdi, @Model.IlAdi, @Model.IlceAdi</p>
        <p><i class="glyphicon glyphicon-bookmark"></i> @Model.mekanEtiket</p>
        @using (Html.BeginForm())
        {

        }
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => yorums.KullaniciAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => yorums.KullaniciAdi, new {disabled = "disabled", htmlAttributes = new {  @class = "form-control"}})
                    @Html.ValidationMessageFor(model => yorums.KullaniciAdi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => yorums.MekanID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => yorums.MekanID, new {disabled="disabled", htmlAttributes = new { @class = "form-control disabled" } })
                    @Html.ValidationMessageFor(model => yorums.MekanID, "", new { @class = "text-danger" })
                </div>
            </div>         

            <div class="form-group">
                @Html.LabelFor(model => yorums.Yorum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => yorums.Yorum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => yorums.Yorum, "", new { @class = "text-danger" })
                </div>
            </div>     
        

          
        
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Yorum ekle" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

  

    
    <div style="background-color:darkturquoise;" class="row">
        @foreach (var item in yorumlar)
        {
            <div class="col col-md-12">
                <div class="col col-sm-1 img-circle img-responsive">
                    <img alt="resim" />
                </div>
                <div class="col col-sm-11">
                    <strong>@item.KullaniciAdi</strong>
                    <p>@item.Yorum</p>
                </div>               
            </div>
        }

    </div>

</div>



@*<h2>Details</h2>

<div>
    <h4>Mekanlar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mekanAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mekanAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mekanAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mekanAciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UlkeAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UlkeAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IlAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IlAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IlceAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IlceAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mekanEtiket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mekanEtiket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mekanRaiting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mekanRaiting)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mekanID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
