﻿@model IEnumerable<meyzel.Models.Mekanlar>

@{
    ViewBag.Title = "Index";
    int sayac = 0;
}



<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div style="background-color:honeydew;" class="col col-sm-4">
                <a href="~/Mekanlar/Details/@item.mekanID">
                  
                    <div class="col col-sm-4 img-circle img-responsive">
                        <img src="" />
                    </div>
                    <div class="col col-sm-8 aciklama">
                        <div class="badge">@item.mekanRaiting</div>
                        <h3>@item.mekanAdi</h3>
                        <p>@item.mekanAciklama</p>
                    </div>
                    <hr />
                    <p class="glyphicon glyphicon-globe"> @item.UlkeAdi@item.IlAdi@item.IlceAdi</p>
                </a>
            </div>
            sayac++;
          
        }
    </div>
</div>

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mekanAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mekanAciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UlkeAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IlAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IlceAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mekanEtiket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mekanRaiting)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mekanAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mekanAciklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UlkeAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IlAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IlceAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mekanEtiket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mekanRaiting)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.mekanID }) |
            @Html.ActionLink("Details", "Details", new { id=item.mekanID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.mekanID })
        </td>
    </tr>
}

</table>*@
