﻿@{
    ViewBag.Title = "Home Page";
}


    <div class="row margin-one">
        <div class="col-md-12 sofist">
            <div style="float:left;">
                <img class="yuvarlak" src="~/Resimler/ferisdolap.png" />
            </div>


            <h1>ODEV TANIMI</h1>
            <p class="lead">
                İlayda Ozdemir | g151210106 | 2.Ogretim | B grubu <br />
                Web Programlama Proje Ödevi MeyZel Kullanıcılara eğlenmeleri için
                bulundukları yere göre çeşitli önerilerde bulunuyor. Ve bunu kullanıcılarla
                etkileşimli hale getirerek interaktif bir amacı benimsiyor.
            </p>



        </div>
    </div>
    <div class="row margin-one">
        <div class="col-md-3 Card1" onclick="location.href='../Home/Konser'">
            <h2><i class="fa fa-th-list" aria-hidden="true"></i> KONSER</h2>
        </div>
        <div class="col-md-3 Card2" onclick="location.href='../Home/Tiyatro'">
            <h2><i class="fa fa-th-list" aria-hidden="true"></i> TİYATRO</h2>
            
        </div>
        <div class="col-md-3 Card3" onclick="location.href='../Home/Sinema'">
            <h2><i class="fa fa-th-list" aria-hidden="true"></i> SİNEMA</h2>


        </div>
        <div class="col-md-3 Card4" onclick="location.href='../Home/Lunapark'">
            <h2><i class="fa fa-th-list" aria-hidden="true"></i> LUNAPARK</h2>
      
        </div>
    </div>
