﻿@using meyzel.Models
@model LoginViewModel
@{
    ViewBag.Title = "Giriş";
}

<div class="container">
    <div class="Card5">
        <h2><i class="fa fa-user-o" aria-hidden="true"></i>@ViewBag.Title.</h2>

        <div class="col-md-3"></div>
        <div class="col-md-6">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <h4>Kullanıcı giriş ekranı.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.Label("hatırla beni")
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="float:left;" class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Giriş" class="btn btn-default" />
                        </div>
                        <div>
                            @Html.ActionLink("Kayit Ol", "Register")
                        </div>

                    </div>


                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
        <div class="col-md-3"></div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}