﻿body {
    background-color:#FFEBEE;
    padding-top: 50px;
    padding-bottom: 0px;
}





/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




.sofist{
    padding:10px;
    height: 280px;
    width: 100%;
    background: #FCE4EC url('../Resimler/smoke-png.png') no-repeat bottom;

}


.yarim-daire{
    background:#E040FB;
    width:120px;
    height:60px;
    border-radius:0 0 120px 120px;
}

.yuvarlak{
background-color: #AD1457;
border: 15px solid #F06292;
border-radius: 115px;
width:240px;
max-height: 240px;
line-height:200px;
font-size:20px;
color:white;
font-family: Arial, Helvetica, sans-serif;
font-weight:bold;
text-shadow:#2d4251 5px 5px 5px;
 

}




.margin-one{    
    margin-left: 0px;
    margin-right:0px;
}

.Card1:hover, .Card2:hover, .Card3:hover, .Card4:hover{
    cursor:pointer;
    background-size: 90% auto;
}

.Card1{
    height:200px;
    padding: 0px;
    color:#E0F2F1;
    background: #009688 url('../Resimler/frame7_i2.png') right;  
  
}
.Card1 h2{
    margin-top:0px;
    background-color:#00695C;
    color:#E0F2F1;
    opacity: 0.8;
}
.Card1 h2:hover{
    opacity: 1;
}



.Card5 {
    padding-left:10px;
    height: 300px;
    padding: 0px;
    color: #AD1457;
    background-color: #FCE4EC;
}
.Card5 h1,h3,h4,h5,h6,h7{
    padding-left:15px;
}
.Card5 h2{
    padding-left:10px;
    margin-top:0px;
    background-color:#00695C;
    color:#E0F2F1;
}





.Card2{
    padding: 0px;
    height:200px;
    color:#F9FBE7;
    background: #CDDC39 url('../Resimler/img-home-4.png') center;  
}

.Card2 h2{
    margin-top:0px;
    background-color:#827717;
    color:#E0F2F1;
    opacity: 0.8;
}
.Card2 h2:hover{
    opacity: 1;
}


.Card3{
    padding: 0px;
    height:200px;
    color:#FBE9E7;
    background: #FF5722  url('../Resimler/popcornMovie.png') right;  
}
.Card3 h2{
    margin-top:0px;
    background-color:#E65100;
    color:#E0F2F1;
    opacity: 0.8;
}
.Card3 h2:hover{
    opacity: 1;
}

.Card4 {
    padding: 0px;
    height:200px;
    color: #F3E5F5;
    background: #9C27B0  url('../Resimler/ferisdolap.png') left;
}

.Card4 h2{
    margin-top:0px;
    background-color:#4A148C;
    color:#E0F2F1;
    opacity: 0.8;
}
.Card4 h2:hover{
    opacity: 1;
}




footer{
    background-color:blue;
}










.foot-model{
    margin: 0 auto;
  clear: both;
    position: relative;
    width:100%;
    background: #FCE4EC url('../Resimler/footer-background.png') center;
    height:287px;
    margin-bottom: 0px;
    padding:50px;
    
    
}

.foot-model img{
    width:50px;
    height:50px;
    margin-right: 5px;
    word-wrap:break-word;
    
}



.fa-hover:hover{
    color: #4A148C;
}

.linkler li a{
    color:#333333;
}

@media (max-width: 470px) {
    .sofist{
    padding:10px;
    height: 450px;
    width: 100%;
    
}
}




/*//////////////////////////////*/


