﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MeyZel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("En Çok Beğenilenler", "Index", "Mekanlar")</li>
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>       
    </div>
      
    
    
      @RenderBody()
  
        

  <footer class="foot-model">
      <div class="col-md-3 col-xs-4"> 
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <strong>Sosyal Bağlantılar</strong> <br />
          <i class="fa fa-instagram fa-5x fa-hover" aria-hidden="true"></i>
          <i class="fa fa-facebook-official fa-5x fa-hover" aria-hidden="true"></i>
          <i class="fa fa-twitter fa-5x fa-hover" aria-hidden="true"></i>
          <i class="fa fa-android fa-5x fa-hover" aria-hidden="true"></i>  
      </div>
      <div class="col-md-1">
          
      </div>
      <div class="col-md-5 col-xs-4">
          <i class="fa fa-link" aria-hidden="true"></i>
          <strong>Site Haritası</strong> <br />
          <ul class="linkler"> 
              <li><a href="Home/Index">Anasayfa</a></li>
              <li><a href="Home/Index">En Çok Beğenilenler</a>
              <ul>
                  <li><a href="Home/Index">Konser Alanı</a></li>
                  <li><a href="Home/Index">Tiyatro Salonu</a></li>
                  <li><a href="Home/Index">Sinema Salonu</a></li>
                  <li><a href="Home/Index">Lunapark</a></li>
              </ul>
              </li>   
          </ul>           
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2 col-xs-4">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <strong>Hakkımızda</strong> <br />
          <p>İsim: İlayda Özdemir. <br />
             Numara: g151210106. <br />
             Okul: Sakarya Uni.
             Sınıf: 2.Öğretim - B grubu</p>
      </div>

  </footer>  
 
       

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
